/**
 * 基础变量 --- 所有主题共用
 * 变量颜色少，可以选择使用透明度控制
 */

/* ---颜色--- */
$gray_1: #323232;
$gray_2: #606266;
$gray_3: #999999;
$gray_4: #c0c4cc;


$white: #fff;
$white_1: #dfe4e7;
$white_2: #c0c4cc;

$border_1: #DCDFE6;
$border_2: #E4E7ED;
$border_3: #EBEEF5;
$border_4: #F2F6FC;

$success: #67C23A;
$successHover: #e1f3d8;
$warning: #E6A23C;
$warningHover: #faecd8;
$danger: #F56C6C;
$dangerHover: #fde2e2;

/* ---字体大小--- */
$font_12: 1.2rem;
$font_14: 1.4rem;
$font_16: 1.6rem;
$font_18: 1.8rem;
$font_20: 2rem;
$font_30: 3rem;


/** 
 * 主题一： 蓝色调 **********************************************************************************************
 */
/* 主色调 */
$main_main: #409eff;
$main_main_1: #66b1ff;
$main_main_2: #a0cfff;
$main_main_3: #d9ecff;
/* 框架布局颜色 */
$main_frame_1: #091729;
$main_frame_2: #1a2e46;
$main_frame_3: #15436d;
$main_frame_4: #245d91;
$main_frame_5: #1a2e46;
/* 标题字体颜色 */
$main_frame_color: #ffffff;
$main_frame_color_1: #c0c4cc;
$main_frame_color_2: #97bed9;


/** 
* 主题二： 白-红色调 *****************************************************************************************
*/
/* 主色调 */
$light_main: #fc333f;
$light_main_1: #fc5531;
$light_main_2: #ff7700;
$light_main_3: #fcecea;
/* 框架布局颜色 */
$light_frame_1: #ffffff;
$light_frame_2: #ffffff;
$light_frame_3: #ffffff;
$light_frame_4: #f5f6f7;
$light_frame_5: #fcecea;
/* 标题字体颜色 */
$light_frame_color: #222226;
$light_frame_color_1: #999aaa;
$light_frame_color_2: #1c1d30;


/** 
* 主题三： 绿色调 *****************************************************************************************
*/

/* 主色调 */
$green_main: #ffffff;
$green_main_1: #ffffff;
$green_main_2: #ffffff;
$green_main_3: #ffffff;
/* 框架布局颜色 */
$green_frame_1: #3eaf7c;
$green_frame_2: #077752;
$green_frame_3: #329267;
$green_frame_4: #a8e2ca;
$green_frame_5: #077752;
/* 标题字体颜色 */
$green_frame_color: #ffffff;
$green_frame_color_1: #c2c4c2;
$green_frame_color_2: #aeccbe;


$themes: (
  'base': (
    'frameColor1': $main_frame_1,
    'frameColor2': $main_frame_2,
    'frameColor3': $main_frame_3,
    'frameColor4': $main_frame_4,
    'frameColor5': $main_frame_5,
    'mainColor': $main_main,
    'mainColor1': $main_main_1,
    'mainColor2': $main_main_2,
    'mainColor3': $main_main_3,
    'fontColor': $main_frame_color,
    'fontColor1': $main_frame_color_1,
    'fontColor2': $main_frame_color_2
  ),
  'light': (
    'frameColor1': $light_frame_1,
    'frameColor2': $light_frame_2,
    'frameColor3': $light_frame_3,
    'frameColor4': $light_frame_4,
    'frameColor5': $light_frame_5,
    'mainColor': $light_main,
    'mainColor1': $light_main_1,
    'mainColor2': $light_main_2,
    'mainColor3': $light_main_3,
    'fontColor': $light_frame_color,
    'fontColor1': $light_frame_color_1,
    'fontColor2': $light_frame_color_2
  ),
  'green': (
    'frameColor1': $green_frame_1,
    'frameColor2': $green_frame_2,
    'frameColor3': $green_frame_3,
    'frameColor4': $green_frame_4,
    'frameColor5': $green_frame_5,
    'mainColor': $green_main,
    'mainColor1': $green_main_1,
    'mainColor2': $green_main_2,
    'mainColor3': $green_main_3,
    'fontColor': $green_frame_color,
    'fontColor1': $green_frame_color_1,
    'fontColor2': $green_frame_color_2
  )
);

/**

配色方案一（紫色）：
版面表格边框颜色 #983498
版面标题表格颜色 #d890d8
版面内容表格颜色1 #f8dcf8
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #fff0ff
版面标题表格字体颜色 #602060
版面内容表格字体颜色 #602060
提醒语句颜色 #602060

配色方案二（粉色）：
版面表格边框颜色 #f00078
版面标题表格颜色 #ff98do
版面内容表格颜色1 #ffe8f0
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #fff6fc
版面标题表格字体颜色 #602060
版面内容表格字体颜色 #602060
提醒语句颜色 #602060

配色方案三（果绿色）：
版面表格边框颜色 #507010
版面标题表格颜色 #a0dc40
版面内容表格颜色1 #e8f8d0
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #f8fcf0
版面标题表格字体颜色 #003300
版面内容表格字体颜色 #003300
提醒语句颜色 #309478

配色方案四（深绿色）：
版面表格边框颜色 #288058
版面标题表格颜色 #88d8b0
版面内容表格颜色1 #e0f4e8
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #f0f8f0
版面标题表格字体颜色 #205838
版面内容表格字体颜色 #205838
提醒语句颜色 #287048

配色方案五（金黄色）：
版面表格边框颜色 #co7800
版面标题表格颜色 #ffc562
版面内容表格颜色1 #ffeed0
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #Fffaf0
版面标题表格字体颜色 #754900
版面内容表格字体颜色 #754900
提醒语句颜色 #8c5800

配色方案六（湖蓝色）：
版面表格边框颜色 #007ca6
版面标题表格颜色 #15b9ff
版面内容表格颜色1 #cef3ff
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #ecfbff
版面标题表格字体颜色 #00637b
版面内容表格字体颜色 #00637b
提醒语句颜色 #007a99

配色方案七（宝石蓝色）：
版面表格边框颜色 #002cae
版面标题表格颜色 #7d9aff
版面内容表格颜色1 #d0dcff
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #eef2ff
版面标题表格字体颜色 #001c7b
版面内容表格字体颜色 #001c7b
提醒语句颜色 #000000

配色方案八（西瓜红色：娇艳）：
版面表格边框颜色 #ff51b0
版面标题表格颜色 #ff8cc6
版面内容表格颜色1 #ffe1f0
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #fff4fa
版面标题表格字体颜色 #bf0069
版面内容表格字体颜色 #bf0069
提醒语句颜色 #602060

配色方案九（水橘红色）：
版面表格边框颜色 #ff8e68
版面标题表格颜色 #ffa98c
版面内容表格颜色1 #ffe9e1
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #fff9f7
版面标题表格字体颜色 #9b2700
版面内容表格字体颜色 #9b2700
提醒语句颜色 #000000

配色方案十（粉绿色）：
版面表格边框颜色 #00b700
版面标题表格颜色 #b0ffb0
版面内容表格颜色1 #e8ffe8
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #f7fff7
版面标题表格字体颜色 #006a00
版面内容表格字体颜色 #006a00
提醒语句颜色 #000000

配色方案十一（蓝紫色）：
版面表格边框颜色 #4040e3
版面标题表格颜色 #9b9bf0
版面内容表格颜色1 #dedefa
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #f5f5fe
版面标题表格字体颜色 #151595
版面内容表格字体颜色 #151595
提醒语句颜色 #000000

配色方案十二（淡蓝色）：
版面表格边框颜色 #0053ec
版面标题表格颜色 #a2c2ff
版面内容表格颜色1 #e8f0ff
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #f4f9ff
版面标题表格字体颜色 #6c0091
版面内容表格字体颜色 #6c0091
提醒语句颜色 #6c0091

配色方案十三（雪青色）：
版面表格边框颜色 #cd37ff
版面标题表格颜色 #ebacff
版面内容表格颜色1 #f9e6ff
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #Fdf4ff
版面标题表格字体颜色 #205838
版面内容表格字体颜色 #205838
提醒语句颜色 #287048

配色方案十四（青绿色：中等，缺色时再使用）：
版面表格边框颜色 #00935b
版面标题表格颜色 #00ce81
版面内容表格颜色1 #dffff3
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #F7FFFc
版面标题表格字体颜色 #005b39
版面内容表格字体颜色 #005b39
提醒语句颜色 #005b39

配色方案十五（酱红色）：
版面表格边框颜色 #db3700
版面标题表格颜色 #ff8c6a
版面内容表格颜色1 #ffd2c4
版面内容表格颜色2，颜色1和颜色2在bbs风格中互相穿插排列 #ffede8
版面标题表格字体颜色 #8a1f00
版面内容表格字体颜色 #8a1f00
提醒语句颜色 #8a1f00 
**/