@import 'tailwindcss';

@theme {
  --color-brand-50: #f4f3ff;
  --color-brand-100: #ece9ff;
  --color-brand-200: #ddd4ff;
  --color-brand-300: #c0b2ff;
  --color-brand-400: #a58dff;
  --color-brand-500: #8c5bff;
  --color-brand-600: #7a42ff;
  --color-brand-700: #6a35e6;
  --color-brand-800: #5125b8;
  --color-brand-900: #391a85;
}
